<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>API TEST</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

  <input type="hidden" #selection>

  <div class="terminal">
      <pre>test button</pre>
      <div style="width: 100%;">
        <button (click)="getnformationID()">
          TEST getInformationID
        </button>
        <button (click)="clear()">
          clear
        </button>
      </div>
  </div>

  <div class="modal-body" *ngIf="informationID">
    <div class="text-center"><h1>ยืนยันข้อมูลบัตรประชาชน</h1></div>
    <div class="text-center"><span>กรุณาตรวจสอบข้อมูล</span></div>
    <div class="text-center">
      <a href="../../../../../assets/image/dog1.jpg">
        <img src="{{ informationID?.image64 }}">
      </a>
    </div>
    <div class="row mt-3 mx-2 pb-2">
      <p class="col-6 fw-bold text-end">ชื่อ - นามสกุล :</p>
      <p class="col-6 sub-text">{{ informationID?.prefix_TH }} {{ informationID?.firstName_TH }} {{ informationID?.lastName_TH }}</p>
      <p class="col-6 fw-bold text-end">เลขประจำตัวประชาชน :</p>
      <p class="col-6 sub-text">{{ informationID?.citizenId }}</p>
      <p class="col-6 fw-bold text-end">เพศ :</p>
      <p class="col-6 sub-text">{{ informationID?.Sex }}</p>
      <p class="col-6 fw-bold text-end">วัน/เดือน/ปี :</p>
      <p class="col-6 sub-text">{{ informationID?.birthDate }}</p>
    </div>
  </div>
  <div class="modal-body" *ngIf="!informationID && searching" style="height: 566.36px; display: flex; justify-content: center; align-items: center;">
    <div class="loader"></div>
  </div>
</div>

